.GroupMain{
    height: 100%;
}

.GroupHead{
    height: 10%;
    width: 100%;
}

.Chat{
    background: #ccf3ff;
    float: left;
    height: 90%;
}

.wrapper-row{
    height: 100%;
}

.wrapper {
    height: 90%;
    display: grid;
        grid-template-columns: 22% 78%;
    grid-template-rows: 100%;
}

.Menu{
    height: 10%;
}