.GroupMain{
    height: 100%;
}

.GroupHead{
    height: 10%;
    width: 100%;
}

.Chat{
    background: #ccf3ff;
    float: left;
    height: 90%;
}

.wrapper-row{
    height: 100%;
}

.wrapper {
    height: 90%;
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 100%;
}

.Menu{
    height: 10%;
}

.groupMainTransition-appear{
    opacity: 0;
}

.groupMainTransition-appear.groupMainTransition-appear-active{
    opacity: 1;
    transition: all 1s ease-in-out;
}

.CalendarTransition-appear{
    opacity: 0.01;
    transform: translateY(30%) scale(1);
}

.CalendarTransition-appear.CalendarTransition-appear-active{
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: all 1s ease-out;
}

.cardChatTransition-appear{
    opacity: 0.01;
    transform: translateY(30%) scale(1);
}

.cardChatTransition-appear.cardChatTransition-appear-active{
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: all 2s ease-out;
}
