.GroupMain{
    height: 100%;
}

.GroupHead{
    height: 10%;
    width: 100%;
}

.Chat{
    background: #ccf3ff;
    float: left;
    width: 30%;
    height: 90%;
}
.Calendar {
    background: none;
    float: right;
    width: 70%;
    height: 90%;
}