.User_Group{
    height: 100%;
    width: 100%;
}

.userTransition-appear{
    opacity: 0;
}

.userTransition-appear.userTransition-appear-active{
    opacity: 1;
    transition: all .5s ease-in-out;
}
.GroupListTransition-appear{
    opacity: 0.01;
    transform: translateY(30%) scale(1);
}

.GroupListTransition-appear.GroupListTransition-appear-active{
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: all 1s ease-out;
}