.channelJoin{
    height: 10px;
}

.chattingView-msgline{ /*메세지 박스*/
    padding-bottom: 3px;
    width: 90%;
    display: inline-block;
}

.chattingView-msgbox{ /*메세지 박스*/
    display: inline-block;
}

.chattingView-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chattingView-chatbox{
    overflow:scroll;
    overflow-x: hidden;
    flex: 1;
}

.chattingView-input{ /*입력창*/
    float:bottom;
    height: 60px;
    width:100%;
}

.chattingView-chat{
    height: 100%;
    text-align: center;
}

.inputMsg{
    margin:0;
    border:0;
    padding: 0;
    height: 100%;
    width: 80%;
    font-size: 20px;
    text-indent: 10px;
}

.btn-primary{
    height: 90%;
    width: 20%;
    margin: 0;
    border: 0;
    padding: 0;
}

.itemY{
    text-align: right;
}

.itemN{
    text-align: left;
}

.balloonY {
    display: inline-block;
    position: relative;
    background: white;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 10px;
}
.balloonY:after {
    content: '';
    position: absolute;
    border-top: 10px solid white;
    border-right: 1px solid transparent;
    border-left: 15px solid transparent;
    bottom: -9px;
    right: 5px;
}

.balloonN {
    display: inline-block;
    position: relative;
    background: white;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 10px;
}
.balloonN:after {
    content: '';
    position: absolute;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 1px solid transparent;
    bottom: -9px;
    left: 5px;
}