.channelJoin{
    height: 10px;
}

.chattingView-msg{ /*메세지 박스*/
    height: 20px;
    padding-bottom: 3px;
    float:bottom;
}

.chattingView-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chattingView-chatbox{
    overflow:scroll;
    overflow-x: hidden;
    flex: 1;
}

.chattingView-input{ /*입력창*/
    float:bottom;
    height: 60px;
    width:100%;
}

.chattingView-chat{
    height: 100%;
}

.inputMsg{
    margin:0;
    border:0;
    padding: 0;
    height: 100%;
    width: 80%;
    font-size: 20px;
    text-indent: 10px;
}

.btn-primary{
    height: 100%;
    width: 20%;
}