article {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 60px 60px 60px auto 60px 60px;
    font-size: 20px;
}

.event_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#event_name1{
    background-color: white;
    grid-column: 1/2;
}
#event_name2{
    background-color: white;
    grid-column: 2/4;
}
#event_name2 input{
    box-sizing : border-box;
    width: 420px;
}

#event_start1{
    background-color: white;
    grid-column: 1/2;
}
#event_start2{
    background-color: white;
    grid-column: 2/4;
}
#event_start2 input{
    width: 420px;
}

#event_end1{
    background-color: white;
    grid-column: 1/2;
}
#event_end2{
    background-color: white;
    grid-column: 2/4;
}
#event_end2 input{
    width: 420px;
}

#event_content{
    background-color: white;
    grid-column: 1/4;
    padding-top: 20px;
}
#event_content input[type="text"]{
    width: 600px;
    background-color: white;
}

#event_edit{
    background-color: white;
    grid-column: 1/3;
    padding-top: 20px;
}

#event_stop{
    background-color: white;
    grid-column: 3/4;
    padding-top: 20px;
}
