.ui-draggable-handle {
	-ms-touch-action: none;
    touch-action: none;
    margin: 20px;
    background: green;
    border:0px;
}
#external-events {
    height: 100%;
}
h3.title{
    pointer-events: none
}
h5.contents{
    pointer-events: none
}